   
{{#partial "contenido"}}
  <link rel="stylesheet" type="text/css" href="/iniciarSesion.css">
<br>
<section id ="acerca_section">
  <h2 id="Acerca_de_nosotros"> Acerca de nosotros: </h2>
  <p id ="Acerca_de_nosotros_info">
    Somos una organización que tiene un fuerte compromiso con la reducción de la huella de carbono, donde nuestro principal objetivo es el del seguimiento
    del impacto de HC de todas las Organizaciones con y sin fines de lucro, y de todas las Entidades Gubernamentales. por lo que cada una de las Organizaciones,
    sus miembros, Departamentos y Provincias, a través de nuestra página web tomen conciencia del impacto que están causando en el cambio climático y propicien
    una reducción de la HC.
  </p>
</section>
{{/partial}}
{{>layout.html.hbs}}
    

