      {{#partial "contenido"}}
     <head>

    <link rel="stylesheet" type="text/css" href="/recomendaciones.css">
    <title>Nuestro Impacto Ambiental</title>
</head>
<body>
 
<h2 id="introTitulo">¡Empieza con estas acciones!</h2>
<br>
<p id="parrafoIntro">Todos podemos contribuir a limitar el cambio climático. Desde el modo en que nos desplazamos, hasta la electricidad que utilizamos y los alimentos que comemos y lo que compramos, podemos marcar la diferencia. Comienza con estas diez acciones para ayudar a afrontar la crisis climática.

Las emisiones de gases de efecto invernadero por persona varían mucho entre países. Una persona que reside en los Estados Unidos de América produce, de media, alrededor de 17,6 toneladas de CO2e al año (alrededor de 10 veces más que una persona que vive en India y cerca del triple que la media mundial). En la Unión Europea y en el Reino Unido, la huella media es de aproximadamente 7,9 toneladas de CO2e por persona y año.

Para conservar un clima habitable, la media de emisiones por persona y año tiene que bajar a alrededor de 2 a 2,5 toneladas de CO2e para el año 2030.

Las emisiones de gases de efecto invernadero por persona varían mucho entre países. En los Estados Unidos de América, las emisiones en 2020 (según los últimos datos disponibles) fueron de 14,6 toneladas de CO2e por persona, más del doble de la media mundial de 6,3 toneladas, y seis veces más que las 2,4 toneladas por persona de la India.

Para conservar un clima habitable, la media de emisiones por persona y año tiene que bajar a alrededor de 2 a 2,5 toneladas de CO2e para el año 2030.</p>
  <div class="contenidoRecomendacion">
    <br>
    <ol>
       <strong><li>Ahorra energía en casa:</li> </strong>
        <p>Gran parte de nuestra electricidad y calefacción funciona con carbón, petróleo y gas. Utiliza menos energía reduciendo el uso de la calefacción y el aire acondicionado, cambiando a bombillas LED y electrodomésticos de bajo consumo, lavando la ropa con agua fría o tendiendo la ropa mojada en lugar de utilizar la secadora. Mejorar la eficiencia energética de tu casa a través de, por ejemplo, un mejor aislamiento o reemplazar el horno de petróleo o gas por una bomba de calor eléctrica, puede reducir la huella de carbono hasta en 900 kilogramos de CO2e al año</p>
       
        <strong><li>Desplázate a pie, en bicicleta o en transporte público:</li></strong>
        <p>Las carreteras del mundo están saturadas de vehículos, la mayoría de los cuales usan diésel o gasolina. Caminar o ir en bicicleta, en lugar de conducir, reduce las emisiones de gases de efecto invernadero y supone un beneficio para la salud y la forma física. Para distancias más largas, considera viajar en tren o autobús. Y comparte el coche siempre que sea posible. Vivir sin coche puede reducir la huella de carbono hasta en 2 toneladas de CO2 (equivalente) al año en comparación con un estilo de vida en el que se utilice el coche.  </p>

        <strong><li>Come más verduras: </li></strong>
        <p>Comer más verduras, frutas, cereales integrales, legumbres, frutos secos y semillas, y menos carne y productos lácteos, puede reducir considerablemente el tu impacto medioambiental. La producción de alimentos de origen vegetal suele generar menos emisiones de gases de efecto invernadero y requiere menos energía, tierra y agua. Cambiar de una dieta mixta a una vegetariana puede reducir tu huella de carbono en hasta 500 kilogramos de CO2 (equivalente) al año (o en hasta 900 kilogramos si es una dieta vegana).  </p>
            

        <strong><li>Considera tus desplazamientos:</li></strong>
        <p>Los aviones usan grandes cantidades de combustibles fósiles, y producen importantes emisiones de gases de efecto invernadero. Esto hace que volar menos sea una de las formas más rápidas de reducir el impacto medioambiental. Cuando sea posible, reúnete virtualmente, desplázate en tren o no hagas un viaje de larga distancia si no es necesario. Tomar un vuelo de larga distancia menos puede reducir tu huella de carbono en hasta casi 2 toneladas de CO2 (equivalente).</p>

    </ol>
  </div>
      {{/partial}}
      {{>layout.html.hbs}}
    